.toolbarButton {
   -fx-pref-height: 32;
   -fx-pref-width: 32;
   -fx-max-height: 32;
   -fx-max-width: 32;
}

.toolbarButton > ImageView {
    -fx-pref-height: 32;
    -fx-pref-width: 32;
}

.toolbarScroll {
    -fx-background-color: red;
}